{% extends "base.html.twig" %}


{% block body %}
    
         <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Ajout bailleur</h2>   
                        <h5>Formulaire pour ajouter le bailleur de fond / le secteur / le type financement / le taux d'interet</h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Creation du bailleur de fond
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">

                                    {{ form_start(formBailleur) }}

                                    {{ form_row(formBailleur.nom, {'label' : 'Nom du bailleur' , 'attr' : {'placeholder':"Nom du bailleur"}}) }}
                                    {{ form_row(formBailleur.secteur, {'label' : 'Secteurs d\'intervention', 'attr' : {'placeholder':"Secteurs d'intervention"}}) }}
                                    <a class="dropdown-item" href="{{ path('create_secteur_intervention') }}">Ajout de secteur d'intervention</a>
                                    {{ form_row(formBailleur.typefinancement, {'label' : 'Type de financement', 'attr' : {'placeholder':"Type de financement"}}) }}
                                    {{ form_row(formBailleur.part_finance, {'label' : 'Part finance par le bailleur de fonds (en %)' ,'attr' : {'placeholder':"Part finance par le bailleur de fonds (en %)"}}) }}
                                    {{ form_row(formBailleur.maturite_facilite, {'label' : 'Maturite de la facilité (ans)', 'attr' : {'placeholder':"Maturite de la facilité (ans)"}}) }}
                                    {{ form_row(formBailleur.periode_grace, {'label' : 'Periode de grace de la facilité (ans)', 'attr' : {'placeholder':"Periode de grace de la facilité (ans)"}}) }}
                                    {{ form_row(formBailleur.taux, {'label' : 'Taux d\'interet (en %)', 'attr' : {'placeholder':"Taux d'interet (en %)"}}) }}
                                    {{ form_row(formBailleur.differentiel_interet, {'label' : 'Differentiel d\'interet (en %)', 'attr' : {'placeholder':"Differentiel d'interet (en %)"}}) }}
                                    {{ form_row(formBailleur.frais_gestion, {'label' : 'Frais de gestion (en %)', 'attr' : {'placeholder':"Frais de gestion (en %)"}}) }}
                               
                                </div>
                                <div class="col-md-6">
                                
                                     {{ form_row(formBailleur.commission_engagement, {'label' : 'Commision d\'engagement (en %)', 'attr' : {'placeholder':"Commision d'engagement (en %)"}}) }}
                                    {{ form_row(formBailleur.commission_service, {'label' : 'Commission de service (en %)', 'attr' : {'placeholder':"Commission de service (en %)"}}) }}
                                    {{ form_row(formBailleur.commission_initiale, {'label' : 'Commision initial (en %)', 'attr' : {'placeholder':"Commision initial (en %)"}}) }}
                                    {{ form_row(formBailleur.commission_arrangement, {'label' : 'Commision d\'arrangement (en %)', 'attr' : {'placeholder':"Commision d'arrangement (en %)"}}) }}
                                    {{ form_row(formBailleur.commission_agent, {'label' : 'Commision d\'agent (en Euro)', 'attr' : {'placeholder':"Commision d'agent (en Euro)"}}) }}
                                    {{ form_row(formBailleur.maturite_lettre_credit, {'label' : 'Maturité de la lettre de credit (mois)', 'attr' : {'placeholder':"Maturité de la lettre de credit (mois)"}}) }}
                                    {{ form_row(formBailleur.frais_lies_lettre_credit, {'label' : 'Frais liés à la mise en place de la lettre de credit (en %)', 'attr' : {'placeholder':"Frais liés à la mise en place de la lettre de credit (en %)"}}) }}
                                    {{ form_row(formBailleur.frais_lies_refinancement, {'label' : 'Frais liés au refinancement de la lettre de credit (en %)', 'attr' : {'placeholder':"Frais liés au refinancement de la lettre de credit (en %)"}}) }}
                                    {{ form_row(formBailleur.frais_et_debours, {'label' : 'Frais et debours (Euro / USD)', 'attr' : {'placeholder':"Frais et debours (Euro / USD)"}}) }}
                                    {{ form_row(formBailleur.prime_assurance_et_frais_garantie, {'label' : 'Prime d\'assurance / Frais de garantie (en %)', 'attr' : {'placeholder':"Prime d'assurance / Frais de garantie (en %)"}}) }}
                                    {{ form_row(formBailleur.prime_attenuation_risque_credit, {'label' : 'Prime d\'attenuation du risque de credit (en %)', 'attr' : {'placeholder':"Prime d'attenuation du risque de credit (en %)"}}) }}

                              <button type="Submit" class="btn btn-info" name="" id="" value="">
                                Enregister
                              </button>

                             {{ form_end(formBailleur) }}

                                    
                                
                            </div>
                        </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <h3>Bailleur</h3>
                         <p>
                            Il faut insérer ......
                        </p>
                    </div>
                </div>
                <!-- /. ROW  -->
    </div>
         

{% endblock %}