{% extends 'base.html.twig' %}

{% block title %}Modification Bailleur{% endblock %}

{% block body %}

<script type="text/javascript">
function calcul()
{
   if ( !Number(document.getElementById("taux_variable_valeur").value) || !Number(document.getElementById("taux_variable_marge").value)){
       document.getElementById("taux_variable_Total").value = 0;
   }else{
        var valeur = Number(document.getElementById("taux_variable_valeur").value);
    
        var marge = Number(document.getElementById("taux_variable_marge").value);
    
        var total = Number(valeur + marge);
        document.getElementById("taux_variable_Total").value = total;
    }
}

function onlyNumber()
{
    var champ = document.getElementById('taux_variable_valeur');
    // /[^0-9]/
    while (champ.value.match(/[^0-9]/))
    {
        champ.value = champ.value.replace(/[^0-9]/,'');
    }
}


</script>  

   {# <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" > #}
                <div id="page-inner">
                 <div class="row">
                    <div class="col-md-12">
                     <h2>Modifier bailleur</h2>   
                        <h5>Formulaire pour modifier le bailleur de fond</h5>
                       
                    </div>
                  </div>
                  <!-- /. ROW  -->
                  <hr />
                  <div class="row">
                      <div class="col-md-12">
                          <!-- Form Elements -->
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                  Modification du bailleur de fond
                              </div>
                              <div class="panel-body">
                                  <div class="row">
                                        <div class="col-md-6">
                
                                            {{ form_start(formBailleur) }}

                                            {{ form_row(formBailleur.nom, {'label' : 'Nom du bailleur' , 'attr' : {'placeholder':"Nom du bailleur"}}) }}
                                            <a class="dropdown-item" href="{{ path('create_secteur_intervention') }}">Ajout...</a>
                                            {{ form_row(formBailleur.secteur, {'label' : 'Secteurs d\'intervention', 'attr' : {'placeholder':"Secteurs d'intervention"}}) }}
                                            <a class="dropdown-item" href="{{ path('type_financement_new') }}">Ajout...</a>
                                            {{ form_row(formBailleur.typefinancement, {'label' : 'Type de financement', 'attr' : {'placeholder':"Type de financement"}}) }}
                                            {{ form_row(formBailleur.part_finance, {'label' : 'Part finance par le bailleur de fonds' ,'attr' : {'placeholder':"Part finance par le bailleur de fonds"}}) }}
                                            {{ form_row(formBailleur.maturite_facilite, {'label' : 'Maturite de la facilité', 'attr' : {'placeholder':"Maturite de la facilité"}}) }}
                                            {{ form_row(formBailleur.periode_grace, {'label' : 'Periode de grace de la facilité', 'attr' : {'placeholder':"Periode de grace de la facilité"}}) }}
                                            
                                            <div class="col-md-12">
                                                <h4>Taux d'interet</h4>
                                                <div class="container">
                                                    <a class="dropdown-item" href="https://www.global-rates.com/" target="_blank">Voir dans la page "global-rates"...</a>                                            
                                                    
                                                    <ul class="nav nav-tabs">
                                                        <li class="active"><a data-toggle="tab" href="#fixe">Taux d'interet fixe</a></li>
                                                        <li><a data-toggle="tab" href="#variable">Taux d'interet variable</a></li>
                                                    </ul>
                                                    <div class="tab-content">
                                                        <div id="fixe" class="tab-pane fade in active">
                                                            <p>
                                                                <div class="col-md-4">
                                                                {{ form_start(formTauxFixe) }}
                                                                    {{ form_row(formTauxFixe.base, {'label' : "Taux d'interet base", 'attr' : {'placeholder':"Taux d'interet base"}}) }}                                                           
                                                                    {{ form_row(formTauxFixe.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)"}}) }}
                                                                    {{ form_row(formTauxFixe.valeur_element_don, {'label' : "Valeur pour l'element don (en %)", 'attr' : {'placeholder':"Valeur pour l'element don (en %)"}}) }}
                                                                {{ form_end(formTauxFixe) }}
                                                                </div>
                                                            </p>
                                                        </div>
                                                        {# <div id="variable" class="tab-pane fade">
                                                            <p>
                                                                <div class="col-md-4">
                                                                {{ form_start(formTauxVariable) }}
                                                                    {{ form_row(formTauxVariable.base, {'label' : "Taux d'interet base", 'attr' : {'placeholder':"Taux d'interet base"}}) }}                                                            
                                                                
                                                                    {{ form_row(formTauxVariable.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)", 'onblur': "calcul()"}}) }}
                                                                    {{ form_row(formTauxVariable.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)", 'onblur': "calcul()", 'onkeyup':"onlyNumber();"}}) }}
                                                                    {{ form_row(formTauxVariable.marge, {'label' : 'Marge (en %)', 'attr' : {'placeholder':"Marge (en %)", 'onblur': "calcul()"}}) }}
                                                                    {{ form_row(formTauxVariable.Total, {'label' : "Valeur total (en %)", 'attr' : {'placeholder':"Valeur total (en %)", 'onblur': "calcul()", 'disabled':"disabled" }}) }}   
                                                                
                                                                    {{ form_row(formTauxVariable.valeur_element_don, {'label' : "Valeur pour l'element don (en %)", 'attr' : {'placeholder':"Valeur pour l'element don (en %)" }}) }}         
                                                                {{ form_end(formTauxVariable) }}
                                                                </div>
                                                            </p>
                                                        </div> #}
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    <div class="col-md-6">
                                
                                    {{ form_row(formBailleur.differentiel_interet, {'label' : 'Differentiel d\'interet', 'attr' : {'placeholder':"Differentiel d'interet"}}) }}
                                    {{ form_row(formBailleur.frais_gestion, {'label' : 'Frais de gestion', 'attr' : {'placeholder':"Frais de gestion"}}) }}
                                    {{ form_row(formBailleur.commission_engagement, {'label' : 'Commision d\'engagement', 'attr' : {'placeholder':"Commision d'engagement"}}) }}
                                    {{ form_row(formBailleur.commission_service, {'label' : 'Commission de service', 'attr' : {'placeholder':"Commission de service"}}) }}
                                    {{ form_row(formBailleur.commission_initiale, {'label' : 'Commision initial', 'attr' : {'placeholder':"Commision initial"}}) }}
                                    {{ form_row(formBailleur.commission_arrangement, {'label' : 'Commision d\'arrangement', 'attr' : {'placeholder':"Commision d'arrangement"}}) }}
                                    {{ form_row(formBailleur.commission_agent, {'label' : 'Commision d\'agent', 'attr' : {'placeholder':"Commision d'agent"}}) }}
                                    {{ form_row(formBailleur.maturite_lettre_credit, {'label' : 'Maturité de la lettre de credit', 'attr' : {'placeholder':"Maturité de la lettre de credit"}}) }}
                                    {{ form_row(formBailleur.frais_lies_lettre_credit, {'label' : 'Frais liés à la mise en place de la lettre de credit', 'attr' : {'placeholder':"Frais liés à la mise en place de la lettre de credit"}}) }}
                                    {{ form_row(formBailleur.frais_lies_refinancement, {'label' : 'Frais liés au refinancement de la lettre de credit', 'attr' : {'placeholder':"Frais liés au refinancement de la lettre de credit"}}) }}
                                    {{ form_row(formBailleur.frais_et_debours, {'label' : 'Frais et debours', 'attr' : {'placeholder':"Frais et debours"}}) }}
                                    {{ form_row(formBailleur.prime_assurance_et_frais_garantie, {'label' : 'Prime d\'assurance / Frais de garantie', 'attr' : {'placeholder':"Prime d'assurance / Frais de garantie"}}) }}
                                    {{ form_row(formBailleur.prime_attenuation_risque_credit, {'label' : 'Prime d\'attenuation du risque de credit', 'attr' : {'placeholder':"Prime d'attenuation du risque de credit"}}) }}

                                <button type="Submit" class="btn btn-info pull-right" name="" id="" value="">
                                    <span class="glyphicon glyphicon-floppy-saved">_</span>Enregister
                                </button>

                             {{ form_end(formBailleur) }}
   
                            </div>
                        </div>
                      </div>
                      <!-- End Form Elements -->
                </div>
            {# </div> #}
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                         <p><center> ---------------- </center></p>
                    </div>
                </div>
            <!-- /. ROW  -->
    {# </div> #}
{% endblock %}
