{% extends 'base.html.twig' %}

{% block title %}Bailleurs{% endblock %}

{% block body %}
    <center> <h1> Liste des bailleurs de fond </h1></center>
        <div class="form-row align-items-end">
            {{form_start(form)}}
                <div class="form-row align-items-end">
                &nbsp; &nbsp; &nbsp; &nbsp; 
                        {{ form_row(form.nombailleur, {'label' : "Nom du bailleur", 'attr' : {'placeholder':"Nom bailleur"}}) }} 
                        <div class="form-group">
                            <button type="Submit" class="btn btn-success pull-right" name="" id="" value="">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button> 
                        </div> 
                </div>  
            {{form_end(form)}}
        </div>

    <table class="table table-striped">
        <thead>
            <tr class="table-info">       
                <th scope="col">Nom</th> 
                <th scope="col">Déscription</th>   
                <th scope="col">Action</th> 
            </tr>
        </thead>
        <tbody>
        {% for blr in bailleurs %}
            <tr>
                <td>{{ blr.nom }}</td>
                <td>{{ blr.description }}</td>
                <td>
                    <div class="form-row align-items-end">
                        <div class="col">
                            <a href="{{ path('bailleur_show', {'id': blr.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-align-justify">_</span>Détails</a>
                        </div>
                        
                    </div> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun bailleur...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <center>
        <a href="{{ path('bailleur_new') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus">_</span>Ajout bailleur</a>
    </center>

{% endblock %}
