{% extends 'base.html.twig' %}

{% block title %}Bailleur{% endblock %}

{% block body %}

    <center><h1>{{ bailleur.nom }}</h1></center>

     <div class="col-md-12">

        <div class="col-md-3">
        
        </div>

        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ bailleur.nom }}</td>
                    </tr>
                    <tr>
                        <th>Siège</th>
                        <td>{{ bailleur.siege }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ bailleur.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Adresse mail</th>
                        <td>{{ bailleur.mail }}</td>
                    </tr>
                    <tr>
                        <th>Fax</th>
                        <td>{{ bailleur.fax }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ bailleur.description }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="form-row align-items-end pull-right">
                <a href="{{ path('bailleur_edit', {'id': bailleur.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit">_</span>Modifier</a>
                    &nbsp; &nbsp; &nbsp;
                {{ include('bailleur/_delete_form.html.twig') }}
                     &nbsp; &nbsp; &nbsp;
                <a href="{{ path('bailleur_index') }}" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt">_</span>Retour à la liste...</a></br>
            </div>
        </div>

        <div class="col-md-3">
        
        </div>
     </div>

{% endblock %}
