 <meta charset="UTF-8">
        <title>{% block title %}Tableau!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- BOOTSTRAP STYLES-->
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONTAWESOME STYLES-->
        <link href="../assets/css/font-awesome.css" rel="stylesheet" />
        <!-- MORRIS CHART STYLES-->
        <link href="../assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
        <link href="../assets/css/custom.css" rel="stylesheet" />
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
        <style>
            .navbar-default{
               margin : -09px 0px 0px 0px ;

               overflow: hidden;
               /*background-color: #333;*/
               position: fixed; /* Set the navbar to fixed position */
               top: 0; /* Position the navbar at the top of the page */
               /*width: 100%; /* Full width */
            }
            /* Style the active class (and buttons on mouse-over) */
            .active, .btn:hover {
                background-color: red;
                color: #ff00ff;
            }
            .el{
                background-color: red;
            }
        </style>


{% block body %}
    <div id="" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tableau comparatif des bailleurs de fond</h2>   
                        <h5>Ce tableau représente les comparaisons des bailleurs de fond.</h5>
                        
                        <a href="{{path('liste_bailleur')}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-th-list">_</span>Afficher les bailleurs</a>
                        <a href="{{path('create_bailleur')}}"  class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit">_</span>Créer un bailleur</a>
                        <a href="{{path('blog')}}"  class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-repeat">_</span>Retour à l'accueil</a>
                        <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-print"></span></button>
                        <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
                   
                    </div>
                    </div>
                    <!-- /. ROW  -->
                    <hr/>
               
            <div class="row">

              
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="table-responsive">

                        <table class = "table table-striped" border = "2">
                            <thead>
                                <tr class="bg-primary">
                                    <th scope="col">BAILLEURS DE FONDS</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.nom}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                     <th scope="col">SECTEURS D'INTERVENTION</th>
                                    {% for bailleur in bailleurs %}
                                     <td>
                                       {% for secteur in bailleur.secteur %}
                                       {{secteur.nom}} <br>
                                        {% endfor %}
                                     </td>
                                    {% endfor %}
                                 </tr>
                            </thead>
                            <tbody>
                            
                                <tr>
                                    <th scope="row">TYPE DE FINANCEMENT</th>
                                    {% for bailleur in bailleurs %}
                                     <td>
                                      {% for tf in bailleur.typefinancement %}
                                        {{tf.nom}}
                                     {% endfor %}
                                     </td>
                                    {% endfor %}
                                </tr>
                                
                               
                                 <tr>
                                    <th scope="row">PART FINANCE PAR LE BAILLEUR DE FONDS</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PartFinance}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">MATURITE DE LA FACILITE</th>
                                   {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.MaturiteFacilite}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PERIODE DE GRACE DE LA FACILITE</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PeriodeGrace}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">TAUX D'INTERET</th>
                                      {% for ti in tauxinteret %}
                                        <th scope="col">{{ti.taux}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">DIFFERENTIEL D'INTERET</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.DifferentielInteret}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS DE GESTION</th>   
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.FraisGestion}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'ENGAGEMENT</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.CommissionEngagement}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION DE SERVICE</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.CommissionService}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION INITIALE</th>
                                  {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.CommissionInitiale}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'ARRANGEMENT</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.CommissionArrangement}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'AGENT</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.CommissionAgent}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">MATURITE DE LA LETTRE DE CREDIT</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.MaturiteLettreCredit}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS LIES A LA MISE EN PLACE DE LA LETTRE DE CREDIT</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.FraisLiesLettreCredit}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS LIES AU REFINANCEMENT DE LA LETTRE DE CREDIT</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.FraisLiesRefinancement}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">ELEMENT-DON 
                                    (niveau de concessionnalité de la facilité)</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PartFinance}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS ET DEBOURS</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.FraisEtDebours}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PRIME D'ASSURANCE / FRAIS DE GARANTIE</th>
                                     {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PrimeAssuranceEtFraisGarantie}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PRIME D'ATTENUATION DU RISQUE DE CREDIT</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PrimeAttenuationRisqueCredit}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">ELEMENT-DON 
                                    (tenant compte frais et débours  et si assurance payée par l'emprunteur)</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{bailleur.PartFinance}}</th>
                                    {% endfor %}
                                    -->
                                </tr>
                                 <tr>
                                    <th scope="row">TAUX D'INTERET EFFECTIF</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col"></th>
                                    {% endfor %}
                                     
                                </tr>
                
                                  <!--
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <!--End Advanced Tables --> 
            </div>
                <!-- /. ROW  -->
         </div>
         
{% endblock %}