{# {% extends 'base.html.twig' %}

{% block title %}Ajout type financement{% endblock %}

{% block body %}
   <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
                    <h1>Ajout type financement</h1>

                    {{ include('type_financement/_form.html.twig') }}
                    
                    <a href="{{ path('type_financement_index') }}">Liste</a>
                </div>
            </div>
    </div>

{% endblock %} #}


<!-- BOOTSTRAP STYLES-->
<link href="../assets/css/bootstrap.css" rel="stylesheet" />
<!-- BOOTSTRAP SCRIPTS -->
<script src="../assets/js/bootstrap.min.js"></script>


  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Type financement</h5>
        <a class="close" href="{{ path('type_financement_index') }}">&times;</a>
      </div>
      <div class="modal-body">
        <p>
            {{ form_start(form) }}
                {{ form_widget(form, {'label' : 'Type financement' , 'attr' : {'placeholder':"Nom du type financement"}}) }}
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success">
            {{ button_label|default('Enregistrer') }}
        </button>
        <a href="{{ path('type_financement_index') }}" type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</a>
            {{ form_end(form) }}
      </div>
    </div>
  </div>
