{% extends 'base.html.twig' %}

{% block title %}TypeFinancement{% endblock %}

{% block body %}
   <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
    <h1>TypeFinancement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_financement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ type_financement.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_financement_index') }}">back to list</a>

    <a href="{{ path('type_financement_edit', {'id': type_financement.id}) }}">edit</a>

    {{ include('type_financement/_delete_form.html.twig') }}
    </div>
    </div>
    </div>
{% endblock %}
