{% extends 'base.html.twig'%}

{% block title %}Affiche projet{% endblock %}

{% block body %}
    <div class="col-md-12">

        <div class="col-md-3">

        </div>

        <div class="col-md-6">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{projet.nom}}</td>
                </tr>
                <tr>
                    <th>Bailleur(s) </th>
                    <td>{% for blr in bailleurs %} {{blr.nom}},  {% endfor %}  </br> </td>
                </tr>
                <tr>
                    <th>Secteur d'intervention</th>
                    <td>{% for secteur in secteurs %} {{secteur.nom}},  {% endfor %}</td>
                </tr>
                <tr>
                    <th>Type de financement</th>
                    <td>{% for financement in financements %} {{financement.nom}},  {% endfor %}</td>
                </tr>
                <tr>
                    <th>Part finance par le bailleurs de fond</th>
                    <td>{{projet.PartFinance}} % du coût du projet</td>
                </tr>
                <tr>
                    <th>Maturite de la facilite</th>
                    <td>{{projet.MaturiteFacilite}} ans</td>
                </tr>
                <tr>
                    <th>Periode de grace de la facilite</th>
                    <td>{{projet.PeriodeGrace}} ans</td>
                </tr>
                <tr>
                    <th>Taux d'interet</th>
                    <td>>>> Taux d'interet fixe : </b>{% for tauxinteretfixe in tauxinteretfixes %}
                        {{tauxinteretfixe.valeur}}% </br>
                    Valeur pour l'élément don : {{tauxinteretfixe.valeur_element_don}}%
                    {% endfor %}</br>
                    Taux d'interet variable : </b>{% for tauxinteretvariable in tauxinteretvariables %}
                    {{tauxinteretvariable.base}} +{{tauxinteretvariable.valeur}}%,
                    soit ({{tauxinteretvariable.total}}%) </br>
                    &nbsp; &nbsp;&nbsp; &nbsp;  Valeur pour l'élément don : {{tauxinteretvariable.valeur_calcul_element_don}}%
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Differentiel d'interet</th>
                    <td>{{projet.DifferentielInteret}}</td>
                </tr>
                <tr>
                    <th>Frais de gestion</th>
                    <td>{{projet.FraisGestion}}</td>
                </tr>
                <tr>
                    <th>Commission d'engagement</th>
                    <td>{{projet.commissionEngagement}} %</td>
                </tr>
                <tr>
                    <th>Commission de service</th>
                    <td>{{projet.CommissionService}} %</td>
                </tr>
                <tr>
                    <th>Commission initiale</th>
                    <td>{{projet.CommissionInitiale}}</td>
                </tr>
                <tr>
                    <th>Commission d'arrangement</th>
                    <td>{{projet.CommissionArrangement}}</td>
                </tr>
                <tr>
                    <th>Commission d'agent</th>
                    <td>{{projet.commissionAgent}}</td>
                </tr>
                <tr>
                    <th>Maturite de la lettre de credit</th>
                    <td>{{projet.MaturiteLettreCredit}}</td>
                </tr>
                <tr>
                    <th>Frais lies a la mise en place de la lettre de credit</th>
                    <td>{{projet.FraisLiesLettreCredit}}</td>
                </tr>
                <tr>
                    <th>Frais lies au refinancement de la lettre de credit</th>
                    <td>{{projet.FraisLiesRefinancement}}</td>
                </tr>
                <tr>
                    <th> Element-don</th>
                    <td>{{projet.Elementdon}} %</td>
                </tr>
                <tr>
                    <th> Frais et debours</th>
                    <td>{{projet.FraisEtDebours}}</td>
                </tr>
                <tr>
                    <th> Prime d'assurance / frais de garantie</th>
                    <td>{{projet.PrimeAssuranceEtFraisGarantie}}</td>
                </tr>
                <tr>
                    <th> Prime d'attenuation du risque de credit</th>
                    <td>{{projet.PrimeAttenuationRisqueCredit}}</td>
                </tr>
                <tr>
                    <th>Element-don (Teneant compte frais et debours et si assurance payée par l'emprunteur)</th>
                    <td>{{projet.Elementdon}} %</td>
                </tr>
                <tr>
                    <th> Taux d'interet effectif</th>
                    <td></td>
                </tr>
                <!--eto le vao2-->
                <tr>
                    <th>Déscription</th>
                    <td>{{ projet.Description }}</td>
                </tr>
                <tr>
                    <th> Signature </th>
                    <td> {{ projet.Signature.format('d-m-Y')}}</td>
                </tr>
                <tr>
                    <th> Date de mise en vigeur </th>
                    <td> {{ projet.DateMiseVigueur.format('d-m-Y')}}</td>
                </tr>
                <tr>
                    <th> Date limite décaissement </th>
                    <td> {{ projet.DateLimiteDecaissement.format('d-m-Y')}}</td>
                </tr>
                <tr>
                    <th> Type </th>
                    <td> {{ projet.Type}}</td>
                </tr>
                <tr>
                    <th> Situation </th>
                    <td> {{ projet.Situation}}</td>
                </tr>
                <tr>
                    <th> Montant accord Monanaie </th>
                    <td> {{ projet.MoMonnaie}}</td>
                </tr>
                <tr>
                    <th> Montant accord </th>
                    <td> {{ projet.MoMontant}}</td>
                </tr>
                <tr>
                    <th> Montant accord équivalent en USD </th>
                    <td> {{ projet.MoEquivalentUsd}}</td>
                </tr>
                <tr>
                    <th> Décaissement Montant accord </th>
                    <td> {{ projet.DeMontantAccord}}</td>
                </tr>
                <tr>
                    <th> Décaissement Equivalent en USD </th>
                    <td> {{ projet.DeEquivalentUsd}}</td>
                </tr>
                <tr>
                    <th> Décaissement taux </th>
                    <td> {{ projet.DeTaux|number_format(2)}} %</td>
                </tr>
                <tr>
                    <th> Reste à décaisser </th>
                    <td> {{ projet.DeResteDecaisser}}</td>
                </tr>
                <tr>
                    <th> Reste à décaisser en USD </th>
                    <td> {{ projet.DeRestDecaisserUsd}}</td>
                </tr>
                <tr>
                    <th> Reste à décaisser en MGA </th>
                    <td> {{ projet.DeMontantMga}}</td>
                </tr>
                <tr>
                    <th> Dépense inéligible montan en USD </th>
                    <td> {{ projet.DiMontantUsd}}</td>
                </tr>
                <tr>
                    <th> Dépense inéligible date notification </th>
                    <td> {{ projet.DiDateNotification.format('d-m-y')}}</td>
                </tr>
                <tr>
                    <th> Dépense inéligible nature du dépense </th>
                    <td> {{ projet.DiNatureDepenses}}</td>
                </tr>
                <tr>
                    <th> Dépense inéligible situation </th>
                    <td> {{ projet.DiSituation}}</td>
                </tr>
                <tr>
                    <th> Principaux problèmes </th>
                    <td> {{ projet.PricipauxProblemes}}</td>
                </tr>
                <tr>
                    <th> Mesures prises </th>
                    <td> {{ projet.MesuresPrises}}</td>
                </tr>
                <tr>
                    <th> Concessionalite </th>
                    <td> {{ projet.Concessionalite}}</td>
                </tr>
                <tr>
                    <th> Statut</th>
                    <td> {{ projet.Statut}}</td>
                </tr>



                </tbody>
            </table>
<!--{#
            <div class="form-row align-items-end pull-right">
                <a href="{{ path('bailleur_edit', {'id': bailleur.id}) }}" class="btn btn-primary"><span class="glyphicon glyphicon-edit">_</span>Modifier</a>
                &nbsp; &nbsp; &nbsp;
                {{ include('bailleur/_delete_form.html.twig') }}
                &nbsp; &nbsp; &nbsp;
                <a href="{{ path('bailleur_index') }}" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt">_</span>Retour à la liste...</a></br>
            </div>
        </div>
-->
        <div class="col-md-3">

        </div>
    </div>
{# <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">

                 <div class="col-md-1">
        
                </div>

                    <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Information du projet " {{projet.nom}} " avec le bailleur de fond : " {% for blr in bailleurs %} {{blr.nom}} ".  {% endfor %}  </h2>
                        </div>
                    </div>
                    /. ROW
                    <hr />

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-back noti-box">
                                    <span class="icon-box bg-color-red">
                                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                                    </span>
                                    <div class="text-box">
                                        <p class="main-text">{{projet.nom}}</p>
                                        <p class="text-muted">Voici l'information de cet projet.</p>
                                        <p class="text-muted"> <b> Nom du projet :</b> {{projet.nom}} </br> </p>
                                        <p class="text-muted"> <b> Bailleur(s) :</b>{% for blr in bailleurs %} {{blr.nom}},  {% endfor %}  </br> </p>
                                        <p class="text-muted"> <b> Secteur d'intervention :</b> {% for secteur in secteurs %} {{secteur.nom}},  {% endfor %} </br> </p>
                                        <p class="text-muted"> <b> Type de financement : </b> {% for financement in financements %} {{financement.nom}},  {% endfor %} </br> </p>
                                        <p class="text-muted"> <b> Part finance par le bailleurs de fond :</b>  {{projet.PartFinance}} % du coût du projet </br> </p>
                                        <p class="text-muted"> <b> Maturite de la facilite :</b> {{projet.MaturiteFacilite}} ans </br></p>
                                        <p class="text-muted"> <b> Periode de grace de la facilite :</b>  {{projet.PeriodeGrace}} ans </br> </p>

                                        {# <p class="text-muted"> <b> Taux d'interet :</b>  {{tauxinteretfixe.base}} ans </br> </p> tauxinteretfixe' => $tauxinteretfixe,
                'tauxinteretvariable
                                        <p class="text-muted"><br><b> Taux d'interet : </b></br>
                                                &nbsp; &nbsp;&nbsp; &nbsp; <b> >>> Taux d'interet fixe : </b>{% for tauxinteretfixe in tauxinteretfixes %}
                                                                        {{tauxinteretfixe.valeur}}% </br>
                                                &nbsp; &nbsp;&nbsp; &nbsp;  Valeur pour l'élément don : {{tauxinteretfixe.valeur_element_don}}% 
                                                                    {% endfor %}</br>
                                                &nbsp; &nbsp;&nbsp; &nbsp; <b> >>> Taux d'interet variable : </b>{% for tauxinteretvariable in tauxinteretvariables %} 
                                                                            {# {{tauxinteretvariable.base}},{{tauxinteretvariable.valeur}}%,
                                                                            {{tauxinteretvariable.marge}},{{tauxinteretvariable.total}},
                                                                            {{tauxinteretvariable.valeur_element_don}}%,{{tauxinteretvariable.valeur_element_don}}%,
                                                                            {{tauxinteretvariable.valeur_calcul_element_don}}%
                                                                            {{tauxinteretvariable.base}} +{{tauxinteretvariable.valeur}}%,
                                                                            soit ({{tauxinteretvariable.total}}%) </br>
                                                                            &nbsp; &nbsp;&nbsp; &nbsp;  Valeur pour l'élément don : {{tauxinteretvariable.valeur_calcul_element_don}}% 
                                                                        {% endfor %}
                                        </p>

                                        <p class="text-muted"> <b> Differentiel d'interet :  </b> {{projet.DifferentielInteret}}  </br> </p>
                                        <p class="text-muted"> <b> Frais de gestion :</b>  {{projet.FraisGestion}} </br>  </p>
                                        <p class="text-muted"> <b> Commission d'engagement : </b>  {{projet.commissionEngagement}} % </br> </p>
                                        <p class="text-muted"> <b> Commission de service : </b>   {{projet.CommissionService}} % </br> </p>
                                        <p class="text-muted"> <b> Commission initiale :</b> {{projet.CommissionInitiale}} </br> </p>
                                        <p class="text-muted"> <b> Commission d'arrangement : </b> {{projet.CommissionArrangement}}</br> </p>
                                        <p class="text-muted"> <b> Commission d'agent :  </b>  {{projet.commissionAgent}} </br> </p>
                                        <p class="text-muted"> <b> Maturite de la lettre de credit :</b>  {{projet.MaturiteLettreCredit}}</br>  </p>
                                        <p class="text-muted"> <b> Frais lies a la mise en place de la lettre de credit : </b>  {{projet.FraisLiesLettreCredit}}</br> </p>
                                        <p class="text-muted"> <b> Frais lies au refinancement de la lettre de credit :</b>  {{projet.FraisLiesRefinancement}}</br> </p>
                        
                                        <hr />
                                        <p class="text-muted">
                                            <font color="red">  
                                                <i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i> Element-don :
                                                {{projet.Elementdon}} %</br>
                                            </font>                                     
                                        </p>

                                        <hr/> 
                                        <p class="text-muted"> <b> Frais et debours :</b>  {{projet.FraisEtDebours}} </br> </p>
                                        <p class="text-muted"> <b> Prime d'assurance / frais de garantie :</b> {{projet.PrimeAssuranceEtFraisGarantie}}</br></p>
                                        <p class="text-muted"> <b> Prime d'attenuation du risque de credit : </b>  {{projet.PrimeAttenuationRisqueCredit}} </br> </p>

                                        <hr />
                                        <p class="text-muted">
                                            <font color="red">  
                                                <i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i>  Element-don (Teneant compte frais et debours et si assurance payée par l'emprunteur) :
                                                  {{projet.Elementdon}} %</br>
                                            </font>     
                                        </p>

                                        <hr />
                                        <p class="text-muted">
                                            <font color="red">  
                                            <i class="glyphicon glyphicon-hand-right" aria-hidden="true"></i> Taux d'interet effectif :
                                                     </br>
                                            </font>     
                                        </p>
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>
#}-->
                        <div class="form-row align-items-end pull-right">
                            <a href="{{path('modifier_bailleur', {'id': projet.id})}}" class="btn btn-info"><span class="glyphicon glyphicon-edit">_</span>Modifier</a>
                                &nbsp; &nbsp; &nbsp;
                            <form method="post" action="{{ path('supprimer_bailleur', {'id': projet.id}) }}" onsubmit="return confirm('Vous voulez supprimer cet bailleur');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ projet.id) }}">
                                <button class="btn btn-danger"><span class="glyphicon glyphicon-trash">_</span>Supprimer</button>
                            </form>
                        </div>
                                
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                </div>


             </div>
        {# </div>
    </div> #}
{% endblock %}
