{% extends "base.html.twig" %}


{% block body %}

<script type="text/javascript">
function calculValeur()
{
   if ( !Number(document.getElementById("taux_variable_valeur").value) || !Number(document.getElementById("taux_variable_marge").value)){
       document.getElementById("taux_variable_Total").value = 0;
   }else{
        var valeur = Number(document.getElementById("taux_variable_valeur").value);
    
        var marge = Number(document.getElementById("taux_variable_marge").value);
    
        var total = Number(valeur + marge);
        document.getElementById("taux_variable_Total").value = total;
    }
}

function calculValeurElemenDon()
{
   if ( !Number(document.getElementById("taux_variable_valeur_calcul_element_don").value) || !Number(document.getElementById("taux_variable_marge").value)){
       document.getElementById("taux_variable_valeur_element_don").value = 0;
   }else{
        var valeur1 = Number(document.getElementById("taux_variable_valeur_calcul_element_don").value);
    
        var marge1 = Number(document.getElementById("taux_variable_marge").value);
    
        var total1 = Number(valeur1 + marge1);
        document.getElementById("taux_variable_valeur_element_don").value = total1;
    }
}

function onlyNumber()
{
    var champ = document.getElementById('taux_variable_valeur');
    // /[^0-9]/
    while (champ.value.match(/[^0-9]/))
    {
        champ.value = champ.value.replace(/[^0-9]/,'');
    }
}


</script>    

         {# < id="page-wrapper" > #}
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                    <center>
                        <h2>Ajout projet</h2>   
                        <h5>Formulaire pour ajouter le projet</h5>
                    </center>
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
            <div class="row">
                <div class="col-md-12">
                    <!-- Form Elements -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Création du projet
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">

                                    {{ form_start(formBailleur) }}
                                
                                        {{ form_row(formBailleur.bailleur, {'label' : 'Nom du bailleur'}) }}
                                        {{ form_row(formBailleur.nom, {'label' : 'Nom du projet' , 'attr' : {'placeholder':"Nom du projet"}}) }}
                                        <a class="dropdown-item" href="{{ path('create_secteur_intervention') }}">Ajout secteurs d'intervention...</a>
                                        {{ form_row(formBailleur.secteur, {'label' : 'Secteurs d\'intervention', 'attr' : {'placeholder':"Secteurs d'intervention"}}) }}
                                        <a class="dropdown-item" href="{{ path('type_financement_new') }}">Ajout type de financement...</a>
                                        {{ form_row(formBailleur.typefinancement, {'label' : 'Type de financement', 'attr' : {'placeholder':"Type de financement"}}) }}
                                        {{ form_row(formBailleur.part_finance, {'label' : 'Part finance par le bailleur de fonds (en %)' ,'attr' : {'placeholder':"Part finance par le bailleur de fonds (en %)"}}) }}
                                        {{ form_row(formBailleur.maturite_facilite, {'label' : 'Maturite de la facilité (ans)', 'attr' : {'placeholder':"Maturite de la facilité (ans)"}}) }}
                                        {{ form_row(formBailleur.periode_grace, {'label' : 'Periode de grace de la facilité (ans)', 'attr' : {'placeholder':"Periode de grace de la facilité (ans)"}}) }}                             
                                  
                                        <div class="col-md-12">
                                            <h4>Taux d'interet</h4>
                                            <div class="container">
                                                <a class="dropdown-item" href="https://www.global-rates.com/" target="_blank">Voir dans la page "global-rates"...</a>                                            
                                                
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#fixe">Taux d'interet fixe</a></li>
                                                    <li><a data-toggle="tab" href="#variable">Taux d'interet variable</a></li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div id="fixe" class="tab-pane fade in active">
                                                        <p>
                                                            <div class="col-md-4">
                                                            {# {{ form_start(formTauxFixe) }} 
                                                                {{ form_row(formTauxFixe.base, {'label' : "Taux d'interet base", 'attr' : {'placeholder':"Taux d'interet base"}}) }}                                                           
                                                                {{ form_row(formTauxFixe.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)"}}) }}
                                                                {{ form_row(formTauxFixe.valeur_element_don, {'label' : "Valeur pour l'element don (en %)", 'attr' : {'placeholder':"Valeur pour l'element don (en %)"}}) }}
                                                            {# {{ form_end(formTauxFixe) }} #}
                                                            {{ form_row(formBailleur.tauxfixe) }}

                                                            </div>
                                                        </p>
                                                    </div>
                                                    <div id="variable" class="tab-pane fade">
                                                        <p>
                                                            <div class="col-md-4">
                                                            {{ form_row(formBailleur.tauxvariable) }}
                                                            </div>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>  

                                    <div class="col-md-6">
                                
                                        {{ form_row(formBailleur.differentiel_interet, {'label' : 'Differentiel d\'interet (en %)', 'attr' : {'placeholder':"Differentiel d'interet (en %)"}}) }}
                                        {{ form_row(formBailleur.frais_gestion, {'label' : 'Frais de gestion (en %)', 'attr' : {'placeholder':"Frais de gestion (en %)"}}) }}
                                        {{ form_row(formBailleur.commission_engagement, {'label' : 'Commision d\'engagement (en %)', 'attr' : {'placeholder':"Commision d'engagement (en %)"}}) }}
                                        {{ form_row(formBailleur.commission_service, {'label' : 'Commission de service (en %)', 'attr' : {'placeholder':"Commission de service (en %)"}}) }}
                                        {{ form_row(formBailleur.commission_initiale, {'label' : 'Commision initial (en %)', 'attr' : {'placeholder':"Commision initial (en %)"}}) }}
                                        {{ form_row(formBailleur.commission_arrangement, {'label' : 'Commision d\'arrangement (en %)', 'attr' : {'placeholder':"Commision d'arrangement (en %)"}}) }}
                                        {{ form_row(formBailleur.commission_agent, {'label' : 'Commision d\'agent (en Euro)', 'attr' : {'placeholder':"Commision d'agent (en Euro)"}}) }}
                                        {{ form_row(formBailleur.maturite_lettre_credit, {'label' : 'Maturité de la lettre de credit (mois)', 'attr' : {'placeholder':"Maturité de la lettre de credit (mois)"}}) }}
                                        {{ form_row(formBailleur.frais_lies_lettre_credit, {'label' : 'Frais liés à la mise en place de la lettre de credit (en %)', 'attr' : {'placeholder':"Frais liés à la mise en place de la lettre de credit (en %)"}}) }}
                                        {{ form_row(formBailleur.frais_lies_refinancement, {'label' : 'Frais liés au refinancement de la lettre de credit (en %)', 'attr' : {'placeholder':"Frais liés au refinancement de la lettre de credit (en %)"}}) }}
                                        {{ form_row(formBailleur.frais_et_debours, {'label' : 'Frais et debours (Euro / USD)', 'attr' : {'placeholder':"Frais et debours (Euro / USD)"}}) }}
                                        {{ form_row(formBailleur.prime_assurance_et_frais_garantie, {'label' : 'Prime d\'assurance / Frais de garantie (en %)', 'attr' : {'placeholder':"Prime d'assurance / Frais de garantie (en %)"}}) }}
                                        {{ form_row(formBailleur.prime_attenuation_risque_credit, {'label' : 'Prime d\'attenuation du risque de credit (en %)', 'attr' : {'placeholder':"Prime d'attenuation du risque de credit (en %)"}}) }}

                                        <button type="Submit" class="btn btn-info pull-right" name="" id="" value="">
                                        <span class="glyphicon glyphicon-floppy-saved">&nbsp;</span>Enregistrer
                                        </button>
                                        
                                        {{ form_end(formBailleur) }}


                                    </div>
                                </div>
                            </div>
                    </div>
                     <!-- End Form Elements -->
                </div>
            </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                         <p><center> ---------------- </center></p>
                    </div>
                </div>
        {# <!-- /. ROW  -->
        </div> #}
         

{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">

{% endblock %}

{% block javascripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js">  </script>
    <script>
        $('select').select2();
    </script>

{% endblock %}
 {# {{ form_start(formTauxVariable) }} 
                                                                {{ form_row(formTauxVariable.base, {'label' : "Taux d'interet base", 'attr' : {'placeholder':"Taux d'interet base"}}) }}                                                            
                                                                
                                                                {{ form_row(formTauxVariable.valeur_calcul_element_don, {'label' : 'Valeur pour element don (en %)', 'attr' : {'placeholder':"Valeur pour element don (en %)", 'onblur': "calculValeurElemenDon()"}}) }}

                                                                {{ form_row(formTauxVariable.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)", 'onblur': "calculValeur()"}}) }}
                                                                {# {{ form_row(formTauxVariable.valeur, {'label' : 'Valeur (en %)', 'attr' : {'placeholder':"Valeur (en %)", 'onblur': "calcul()", 'onkeyup':"onlyNumber();"}}) }} 
                                                                {{ form_row(formTauxVariable.marge, {'label' : 'Marge (en %)', 'attr' : {'placeholder':"Marge (en %)", 'onblur': "calcul()"}}) }}
                                                                {{ form_row(formTauxVariable.Total, {'label' : "Valeur total (en %)", 'attr' : {'placeholder':"Valeur total (en %)", 'onblur': "calculValeur()", 'disabled':"disabled" }}) }}    
                                                               
                                                                {{ form_row(formTauxVariable.valeur_element_don, {'label' : "Valeur total de l'element don (en %)", 'attr' : {'placeholder':"Valeur total de l'element don (en %)", 'onblur': "calculValeurElemenDon()", 'disabled':"disabled" }}) }}         
                                                            {# {{ form_end(formTauxVariable) }} #}