{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}
{% block stylesheets %}
       <style>
           
       </style>
 {% endblock %}

{% block body %}
    {# <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" > #}
                <div id="page-inner">
                    <div class="row">
                        <div class="col-md-12">
                        <center>
                            <h2>Listes des projets</h2>   
                            <h5>Cette carte represente la liste des projets</h5>
                        </center>
                        </div>
                    </div>
                    <div class="row">
                        {{form_start(form)}}
                            <div class="form-row" >
                                <div class="col-md-12">
                                    <div class="col-md-10">
                                        {{ form_row(form.nomprojet, {'label' : 'Nom projet', 'attr' : {'placeholder':"Nom projet"}}) }}
                                    </div>
                                    <div class="col-md-2">
                                        <button type="Submit" class="btn btn-success pull-right" name="" id="" value="">
                                            <i class="fa fa-search" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {{form_end(form)}}

                    </div>
                    <!-- /. ROW  -->
                    <hr />
                <div class="row">

                    {% for bailleur in bailleurs %}
    
                        <div class="col-md-4 col-sm-4">
                            <div class="panel panel-success ">
                                <div class="panel-heading">
                                {{bailleur.nom}}
                                </div>
                                <div class="panel-body">
                                    <p>Element-don : {{bailleur.Elementdon}} %</p>
                                </div>
                                <div class="panel-footer">
                                <div class = "btn-group">
                                    <div class = "col-md-4"> <a href="{{path('affiche_bailleur', {'id': bailleur.id})}}" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-th-list"></span></a></div>
                                    <div class = "col-md-4"><a href="{{path('modifier_bailleur', {'id': bailleur.id})}}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-edit"></span></a></div>
                                    <div class = "col-md-4">
                                        <form method="post" action="{{ path('supprimer_bailleur', {'id': bailleur.id}) }}" onsubmit="return confirm('Vous voulez supprimer cet bailleur');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bailleur.id) }}">
                                            <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    {% endfor %}
                 </div>
                <!-- /. ROW  -->
                <div class = "text-center">
                    <div class = "page">
                        <div class="pagination">
                            <center>
                                {{knp_pagination_render(bailleurs)}}
                                <a href="{{path('create_bailleur')}}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-plus">_</span>Ajout projet</a>
                                <a href="{{path('grant_element')}}" class ="btn btn-primary btn-lg" role="button"><i class="fa fa-plus-circle"></i>_Element don</a>
                            </center>
                        </div>
                  
                    </div>
                </div>
            <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        {# </div>
            <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  --> #}

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>


{% endblock %}