{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}
{% block stylesheets %}
       <style>
           
       </style>
 {% endblock %}

{% block body %}

        <center>
            <h2>Liste des projets</h2>   
            <h5>Cette carte represente la liste des projets</h5>
        </center>

        <!-- /. ROW  -->
            
        <div class="col-md-12">

            <div class="col-md-1">
            
            </div>

            <div class="col-md-10">

                <div class="form-row align-items-end pull-right">
                    {{form_start(form)}}
                        <div class="form-row align-items-end">
                            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            {{ form_row(form.nomprojet, {'label' : 'Nom du projet', 'attr' : {'placeholder':"Nom du projet"}}) }}
                            <div class="form-group">
                                <button type="Submit" class="btn btn-success pull-right" name="" id="" value="">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button> 
                            </div> 
                        </div>  
                    {{form_end(form)}}

                </div>

                <table class="table table-striped">
                    <thead>
                        <tr class="table-info">
                            <th scope="col">Nom du pojet</th> 
                            {# <th scope="col">Bailleur(s)</th>    #}
                            <th scope="col">Actions</th> 
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for pjt in projets %}
                            <tr>
                                <td>{{pjt.nom}}</td>
                                {# <td>Bailleur Tsy vita</td> #}
                                {# {% for blr in bailleur %} {{blr.nom}},  {% endfor %} #}
                                <td>
                                    <div class="form-row align-items-end">
                                        <div class="col">
                                            <a href="{{ path('affiche_bailleur', {'id': pjt.id}) }}" class="btn btn-info"><span class="glyphicon glyphicon-align-justify">_</span>Détails</a>
                                            <a href="{{path('grant_element')}}" class ="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span>_Element don</a>
                                        </div>
                                        
                                    </div> 
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun projet...</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        <div class="col-md-1">
            
        </div>
    </div>

        <div class = "text-center">
            <div class = "page">
                <div class="pagination">
                    <center>
                        {{knp_pagination_render(projets)}}
                            <a href="{{path('create_bailleur')}}" class="btn btn-success btn-lg" role="button"><span class="glyphicon glyphicon-plus">_</span>Ajout projet</a>
                    </center>
                </div>
                  
            </div>
        </div>
            <!-- /. ROW  -->
    </div>
            <!-- /. PAGE INNER  -->
        {# </div>
            <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  --> #}

    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="../assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="../assets/js/jquery.metisMenu.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="../assets/js/custom.js"></script>


{% endblock %}