{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}
{% block stylesheets %}
       <style>
           
       </style>
 {% endblock %}
 
{% block body %}
    <div id="" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <center>
                            <h2>Tableau comparatif des projets avec les bailleurs de fond</h2>   
                            <h5>Ce tableau représente les comparaisons des projets de bailleur fond.</h5>
                         </center>
                         
                        <div class="row">

                            {# {{form_start(form)}}
                                <form class="form-inline my-2 my-lg-0">
                                    {{ form_row(form.nombailleur, {'label' : "Nom du bailleur", 'attr' : {'placeholder':"Nom bailleur"}}) }} 
                                        <input class="form-control mr-sm-2" type="text" placeholder="Bailleur" aria-label="Search">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Secteur d'intervention" aria-label="Search">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Type financement" aria-label="Search">
                                        <button class="btn btn-success" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            {{form_end(form)}} #}

                            <div class="">
                                &nbsp; &nbsp; &nbsp;    
                                {# <a href="" class="btn btn-success"><span class="glyphicon glyphicon-download-alt"></br>Excel</span></a>  #}
                                {# <a href="{{path('tableau_comparatif_pdf')}}" class="btn btn-success pull-right"><span class="glyphicon glyphicon-download-alt"></br>pdf</span></a> #}
                            </div>
                        </div>
                    </div>
                
                </div>
                    <!-- /. ROW  -->
                    <hr/>
               
                <div class="row">

              
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="table-responsive">

                        <table class = "table table-striped" border = "2">
                            <thead>
                                {# <tr class="bg-primary">
                                    <th scope="col">BAILLEURS DE FONDS</th>
                                    {% for bailleur_rech in bailleurs_recherche %}
                                        <th scope="col">{{bailleur_rech.nom}}</th>
                                    {% endfor %}
                                </tr> #}
                                 <tr class="bg-success">
                                    <th scope="col">Nom du projet</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">{{ bailleur.nom}}</th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                     <th scope="col">SECTEURS D'INTERVENTION</th>
                                    {% for bailleur in bailleurs %}
                                     <td>
                                        {% for secteur in bailleur.secteur %}
                                            -{{secteur.nom}} <br>
                                        {% endfor %}
                                     </td>
                                    {% endfor %}
                                 </tr>
                            </thead>
                            <tbody>
                            
                                <tr>
                                    <th scope="row">TYPE DE FINANCEMENT</th>
                                    {% for bailleur in bailleurs %}
                                     <td>
                                        {% for tf in bailleur.typefinancement %}
                                            -{{tf.nom}} <br>
                                        {% endfor %}
                                     </td>
                                    {% endfor %}
                                </tr>
                                
                               
                                 <tr>
                                    <th scope="row">PART FINANCE PAR LE BAILLEUR DE FONDS</th>
                                    {% for bailleur in bailleurs %}
                                    
                                        <td scope="col">{{bailleur.PartFinance}} %</td>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">MATURITE DE LA FACILITE</th>
                                   {% for bailleur in bailleurs %}
                                        <td scope="col">{{bailleur.MaturiteFacilite}} ans</td>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PERIODE DE GRACE DE LA FACILITE</th>
                                     {% for bailleur in bailleurs %}
                                        <td scope="col">{{bailleur.PeriodeGrace}} ans</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    <th scope="row">TAUX D'INTERET</th>
                                {# {{ dump(bailleurs) }} #
                                    {% for taux in tauxinteret %}
                                        <td scope="col">
                                            {# {{taux.base}} #
                                        </td>
                                    {% endfor %} #}
                                </tr> 
                                 <tr>
                                    <th scope="row">DIFFERENTIEL D'INTERET</th>
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.DifferentielInteret == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <th scope="col">{{bailleur.DifferentielInteret}}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS DE GESTION</th>   
                                    {% for bailleur in bailleurs %}
                                        {% if bailleur.FraisGestion == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <th scope="col">{{bailleur.FraisGestion}}</th>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'ENGAGEMENT</th>
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.CommissionEngagement == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.CommissionEngagement}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION DE SERVICE</th>
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.CommissionService == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.CommissionService}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION INITIALE</th>
                                        {% for bailleur in bailleurs %}
                                        {% if bailleur.CommissionInitiale == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.CommissionInitiale}}</td>
                                        {% endif %}
                                        {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'ARRANGEMENT</th>
                                   
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.CommissionArrangement == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.CommissionArrangement}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">COMMISSION D'AGENT</th>
                                   
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.CommissionAgent == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.CommissionAgent}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">MATURITE DE LA LETTRE DE CREDIT</th>
                                   
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.MaturiteLettreCredit == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.MaturiteLettreCredit}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS LIES A LA MISE EN PLACE DE LA LETTRE DE CREDIT</th>
                                    
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.FraisLiesLettreCredit == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.FraisLiesLettreCredit}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS LIES AU REFINANCEMENT DE LA LETTRE DE CREDIT</th>
                                     
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.FraisLiesRefinancement == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.FraisLiesRefinancement}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr class="table-danger">
                                    <th scope="row">ELEMENT-DON 
                                    (niveau de concessionnalité de la facilité)</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">
                                            {{bailleur.elementdon | number_format(2,'.', ',')}} %</br>
                                        </th>
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">FRAIS ET DEBOURS</th>
                                     
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.FraisEtDebours == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.FraisEtDebours}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PRIME D'ASSURANCE / FRAIS DE GARANTIE</th>
                                    
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.PrimeAssuranceEtFraisGarantie == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.PrimeAssuranceEtFraisGarantie}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr>
                                    <th scope="row">PRIME D'ATTENUATION DU RISQUE DE CREDIT</th>
                                  
                                     {% for bailleur in bailleurs %}
                                        {% if bailleur.PrimeAttenuationRisqueCredit == null %}
                                            <td>n/a</td>
                                        {% else %}
                                             <td scope="col">{{bailleur.PrimeAttenuationRisqueCredit}}</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                 <tr class="table-danger">
                                    <th scope="row">ELEMENT-DON 
                                    (tenant compte frais et débours  et si assurance payée par l'emprunteur)</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">
                                            {% if bailleur.elementdon >= 35 %}
                                                {{bailleur.elementdon | number_format(2,'.', ',')}} %</br>
                                                <span>Concessionnel</span>
                                            {% elseif bailleur.elementdon > 20 and  bailleur.elementdon < 35 %}
                                                {{bailleur.elementdon | number_format(2,'.', ',')}} %</br>
                                                <span>Semi-concessionnel</span>
                                            {% elseif bailleur.elementdon < 20 %}
                                                {{bailleur.elementdon | number_format(2, '.', ',')}} %</br>
                                                <span>Non concessionnel</span>
                                            {% endif %}

                                        </th>
                                    {% endfor %}
                                    
                                </tr>
                                 <tr>
                                    <th scope="row">TAUX D'INTERET EFFECTIF</th>
                                    {% for bailleur in bailleurs %}
                                        <th scope="col">
                                        
                                        </th>
                                    {% endfor %}
                                     
                                </tr>
                
                                  <!--
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                    </div>
                    <!--End Advanced Tables --> 
            </div>
                <!-- /. ROW  -->
         </div>
         
{% endblock %}
