{% extends 'base.html.twig' %}

{% block title %}GrantElementController!{% endblock %}
 {% block stylesheets %}
       <style>
            h1{
                text-align: center;
                color : red;
            }

            #gr{
                color :red;
                text-align: right;
            }
            .form-group{
                padding : 20px;
            }
              .title{
            color : rgba(100, 45, 0 , 0.3);
            text-align : center;
        }
        .bg-danger{
            background: rgb(0,0,0);
            /*background: linear-gradient(0deg, rgba(0,0,0,0.7539390756302521) 0%, rgba(247,0,0,0.7595413165266106) 83%);*/
            color : white;
        }
        th{
            text-align : center;
            margin : 10px 10px 10px 10px;
        }
        td{
             text-align : center;
        }
       </style>
 {% endblock %}
{% block body %}
<div id="wrapper">
    <div id="page-wrapper" >
        <div id="page-inner">
            <h1>calcul de l'élément-don</h1>
            <div>
                <form action="{{path('grant_element')}}" method="post" >
                {# <form action="" method="post" > #}
                   
                    <div class = "form-group">
                        <div class="col-md-4">
                            <label for="pet-select">Select Repayment Profile</label>
                        </div>
                        <div class ="col-md-8">
                            <select name="pets" id="pet-select" class="form-control">
                            <option value="Equal Principal Payment">Equal Principal Payment</option>
                            <option value="Annuity">Annuity</option>
                            <option value="Lump Sum Principal">Lump Sum Principal</option>
                            <option value="Lump Sum Principal & Interest">Lump Sum Principal & Interest</option>
                            <option value="Lump Sum Principal & Compound Interest">Lump Sum Principal & Compound Interest </option>
                        </select>
                        </div> 
                    </div>
                   
                    
                   
                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="face">Face Value of Loan</label>
                        </div>
                        <div  class ="col-md-8">
                             <input type="number" min="0" required id = "face" name = "face" class="form-control" value ="<?php if (isset($_POST['face'])){echo $_POST['face'];} ?>">
                        </div> 
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4" >
                            <label for ="grant">Grant (as part of financing package)</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="text" min="0" id = "grant" name = "grant" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="commission">Upfront commission</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="text" min="0" id = "commission" value ="0" name = "commission" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="management_fees">Select Management fees, below:</label>
                        </div>
                        <div class ="col-md-8">
                            <select name="management" id="management_fees" class="form-control">
                                <option value="Per payment period">Per payment period</option>
                                <option value="In percent of outstanding loan">In percent of outstanding loan</option>
                            </select>
                            <input type="text" min="0" id = "" value ="0" name = "val_management" class="form-control">
                        </div>
                       
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="interest">Interest rate (per annum)</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="text" min="0" id = "interest" required name = "interest" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="maturity">Maturity</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="number" min="0" id = "maturity" required name = "maturity" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="payments">Payments per annum</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="number" min="0" id = "payments" required name = "payments" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class ="col-md-4">
                            <label for ="graceperiod">Grace period (in years)</label>
                        </div>
                        <div class ="col-md-8">
                            <input type="number" min="0" id = "graceperiod" required name = "graceperiod" class="form-control">
                        </div>
                    </div>

                    <div class = "form-group">
                        <div class = "col-md-12">
                            <button type="submit" class ="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus-sign">_</span>calculer</button>
                        </div>
                    </div>
                   
                </form>
            <hr>
            <div>
                <h3 id = "gr">Grant element : {{controller_name}} % </h3>
            </div>

            <div>
                <h1 class="title">Calendrier de paiement</h1>
                 <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-print"></span></button>
                <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-download-alt"></span></button>
            
            <table class = "table table-striped table-dark" border = "2">
                <thead>
                    <tr class="bg-danger">
                        <th>Remaining payments</th>
                        <th>Interest rate per period<br>fixed or variable</th>
                        <th>Payments per period</th>
                        <th>Fees</th>
                        <th>Interest</th>
                        <th>Pricipal</th>
                        <th>Outstanding</th>
                    </tr>
                </thead>
                <tbody>         
                    {% if test == 1 %}                   
                    {% for key in tabs[1]|keys %}
                       <tr>
                            {% for i,val in tabs %}
                                {% if i == 0 %}
                                    <td>{{val[key]}}</td>
                                {% endif %}
                                {% if i == 1 %}
                                    <td>{{val[key]}} %</td>
                                {% endif %}
                                {% if i == 2%}
                                    <td>{{ val[key] | number_format(0,',','') }}</td>
                                {% endif %}
                                {% if i == 3%}
                                    <td>{{ val[key] }}</td>
                                {% endif %}
                                {% if i == 4%}
                                    <td>
                                        {# {% if val[key] == 0 %} #}
                                            {# {{ val[key] }} #}
                                        {# {% else %} #}
                                            {{ val[key] | number_format(0,',','') }}
                                        {# {% endif %} #}
                                    </td>
                                {% endif %}
                                {% if i == 5%}
                                    <td>{{ val[key] }}</td>
                                {% endif %}
                                {% if i == 6%}
                                    <td>{{ val[key] }}</td>
                                {% endif %}
                            {% endfor %}
                       </tr> 
                    {% endfor %}      
                {% endif %}
                </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
