{% extends 'base.html.twig' %}

{% block title %}Secteur d'itervention{% endblock %}

{% block body %}

<style>
        .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 500ms;
        visibility: hidden;
        opacity: 0;
        }
        .overlay:target {
        visibility: visible;
        opacity: 1;
        }

        .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
        transition: all 5s ease-in-out;
        }

        .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
        }
        .popup .close {
        position: absolute;
        top: 20px;
        right: 30px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: red;
        }
        .popup .close:hover {
        color: red;
        }
        .popup .content {
        max-height: 30%;
        overflow: auto;
        }

        @media screen and (max-width: 700px){
        .box{
            width: 70%;
        }
        .popup{
            width: 70%;
        }
    }
</style>


    <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
            <h1>Secteur d'intervention</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for secteur in secteurs %}
                    <tr>
                        <td>{{ secteur.nom }}</td>
                        <td>
                            <a href="{{ path('secteur_editer', {'id': secteur.id}) }}" class="btn btn-info">Modifier</a>
                                <td>
                                    <form method="post" action="{{ path('secteur_delete', {'id': secteur.id}) }}" onsubmit="return confirm('Vous voulez supprimer ce type de financement');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ secteur.id) }}">
                                        <button class="btn btn-danger">Supprimer</button>
                                    </form>
                                </td>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="#popup1" class="btn btn-success">Ajout secteur d'intervetion</a>
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Ajout secteur</h2>
                        <a class="close" href="{{ path('secteur_liste') }}">&times;</a>
                        <!-- input -->
                        {{ include('secteur/createsecteurintervention.html.twig') }}
                        <a href="{{ path('secteur_liste') }}">Liste</a>     
                    </div>
                </div>  
        </div>
    </div>
</div>
{% endblock %}