{# {% extends "base.html.twig" %}
{% block body %}
 <div id="wrapper">
   
   
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
                 <h1>listes des secteurs <h1>
                    <table class = "table">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for secteur in secteurs %}
                                <tr>
                                    <td>{{ secteur.nom}}</td>
                                    <td>
                                        <a href="{{ path('secteur_editer', {'id': secteur.id}) }}">editer</a>
                                        <a href="#">suprimer</a>
                                    </td>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
    </div>
   
{% endblock %} #}
{% extends 'base.html.twig' %}

{% block title %}TypeFinancement index{% endblock %}

{% block body %}
    <div id="wrapper">
        <!-- /. NAV SIDE  -->
            <div id="page-wrapper" >
                <div id="page-inner">
            <h1>TypeFinancement index</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for secteur in secteurs %}
                    <tr>
                        <td>{{ secteur.id }}</td>
                        <td>{{ secteur.nom }}</td>
                        <td>
                            <a href="{{ path('secteur_editer', {'id': secteur.id}) }}">show</a>
                            <a href="{{ path('secteur_editer', {'id': secteur.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    <a href="{{ path('type_financement_new') }}">Create new</a>
    </div>
    </div>
    </div>
{% endblock %}